page-subscriptions {
  .card-title {
    display: block;
    margin: 2px 0 2px;
    padding: 10px 7px 10px 10px;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #222;
    border-bottom: 1px solid #dcdcdc;
  }
  button {
    margin: 0;
    height: inherit;
    font-size: 1.6rem;
  }
  ion-col {
    color: #999;
  }
  .no-v-padding ion-col {
    padding-top: 0;
    padding-bottom: 0;
  }
  .item-card {
    ion-icon {
      color: #999;
    }
  }
}
