<ion-header>
  <ion-toolbar>
    <ion-title ion-text color='yellow'>
      Choose Meal By
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" class="close-icon">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <span class="semi-bold">Categories</span>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let cat of filterObject.categories">
        <ion-label>{{cat.name}}</ion-label>
        <ion-checkbox [(ngModel)]="cat.selected" item-right></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <span class="semi-bold">Duration</span>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let duration of filterObject.durations">
        <ion-label>{{duration.days}} Days</ion-label>
        <ion-checkbox [(ngModel)]="binding" item-right></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
