<!--
  Generated template for the SubscriptionDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{subsciption.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content no-padding>
      <ion-slides pager>
        <ion-slide>
          <img src="assets/images/food3.jpg" class="slide-image" />
        </ion-slide>
        <ion-slide>
          <img src="assets/images/food3.jpg" class="slide-image" />
        </ion-slide>
        <ion-slide>
          <img src="assets/images/food3.jpg" class="slide-image" />
        </ion-slide>
      </ion-slides>

      <div class="sub-details">
        <div class="sub-head">
          Description
        </div>
        <p text-justify>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
        <ion-list>
          <ion-item>
            <ion-icon name="ios-arrow-round-forward-outline" item-left></ion-icon>
            Max freezes.no: {{subsciption.totalfreeze}}
          </ion-item>
          <ion-item>
            <ion-icon name="ios-arrow-round-forward-outline" item-left></ion-icon>
            Max freezes days: {{subsciption.freezedays}}
          </ion-item>
          <ion-item>
            <ion-icon name="ios-arrow-round-forward-outline" item-left></ion-icon>
            Total days: {{subsciption.days}}
          </ion-item>
        </ion-list>
        <div class="sub-head">
          Full Membership includes
        </div>
        <ion-list>
          <ion-item *ngFor="let cat of subsciption.cats">
            <ion-icon name="ios-arrow-round-forward-outline" item-left></ion-icon>
            {{cat.name}}
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row class="no-v-padding">
            <ion-col align-self-center>
              KD 12
            </ion-col>
            <ion-col>
              <ion-buttons right>
                <button ion-button icon-only clear (click)='showPlanOptions()'>
              <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
            </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


    </ion-card-content>
  </ion-card>
  <ng-container *ngIf="cartObject.cartitems.length">
    <button ion-fab class="cart-fab" (click)="openCheckout()"><ion-icon name="cart" right color='yellow'></ion-icon></button>
    <div style="height:80px;">&nbsp;</div>
  </ng-container>
</ion-content>
