<ion-menu [content]="content">
  <ion-header>
    <div class="no-line-height">
      <img src="assets/images/login-img.jpg">
      <a class="login-link" menuClose (click)='openLogin()' *ngIf="!isLoggedIn">
        {{'loginSign' | translate}}
        </a>
      <ion-row class="loggedin" align-items-center>
        <ion-col *ngIf="isLoggedIn"> {{userInfo.userName}}</ion-col>
        <ion-col align-self-end>
          <ion-buttons end>
            <button ion-button icon-only color="yellow" menuClose (click)='openSettings()'>
          <ion-icon ios="md-settings" md="md-settings"></ion-icon>
        </button>
          </ion-buttons>
        </ion-col>
      </ion-row>

    </div>
    <!--<ion-toolbar class="sidebar-toolbar">
      <ion-buttons start class="person-icon">
        <button ion-button icon-only>
          <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
        </button>
      </ion-buttons>

      <ion-title>Hi Guest</ion-title>

      <ion-buttons end>
        <button ion-button icon-only color="yellow" menuClose (click)='openSettings()'>
          <ion-icon ios="md-settings" md="md-settings"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>-->
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button menuClose ion-item (click)="setRoot('home')">
        <ion-icon name="home" item-left></ion-icon>
        {{'home' | translate}}
      </button>
      <button menuClose ion-item *ngFor="let p of pages" (click)="pushPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title | translate}}
      </button>
      <ng-container *ngIf="isLoggedIn">
        <button menuClose ion-item *ngFor="let p of loggedInPages" (click)="pushPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title | translate}}
      </button>
      </ng-container>

    </ion-list>
    <ion-footer class="log-out" *ngIf="isLoggedIn">
      <ion-toolbar>
        <button menuClose ion-item (click)="doLogout()">
        <ion-icon name="log-out" item-left></ion-icon>
        {{'logout' | translate}}
      </button>
      </ion-toolbar>
    </ion-footer>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
