// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.sidebar-toolbar .person-icon {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.semi-bold {
  font-family: 'Avenir_Bold';
}

.b-b-m {
  border-bottom: 1px solid #dcdcdc !important;
  margin-bottom: 1px;
}

.close-icon {
  font-size: 1.8rem;
}

.login-link {
  position: absolute;
  left: 15px;
  color: white;
  bottom: 28px;
  font-size: 15px;
  right: 0;
  z-index: 999;
}

.no-line-height {
  line-height: 0;
  position: relative;
}

.sub-head {
  font-weight: bold;
  color: #222;
  margin: 5px 4px;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 5px;
}

.swiper-pagination-bullet {
  background: #fff;
  ;
  opacity: .6;
}

.swiper-pagination-bullet-active {
  background: $yellow-color;
  opacity: 1;
}

.loggedin .button {
  color: #ffe81c;
  background-color: transparent;
}

.loggedin {
  position: absolute;
  left: 15px;
  color: white;
  bottom: 0px;
  font-size: 15px;
  right: 0;
}

.log-out .toolbar-background {
  border: 0;
  background: transparent;
}

.log-out .item-inner {
  border: 0 !important;
}
