<!--
  Generated template for the EditSubscription page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>edit-subscription</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let dates of person.menuSelection">

    <ion-card-header (click)="toggleDetails(dates)">
      <ion-icon color="primary" item-right name="ios-add-circle-outline"></ion-icon>
      {{dates.mdate}}
    </ion-card-header>

    <ion-card-content *ngIf="false">
      <div>ok</div>
    </ion-card-content>

  </ion-card>

  <!--<ion-list>
    <ion-list-header>
      Ionic 2 Accordion
    </ion-list-header>
    <ion-item padding *ngFor="let d of data" (click)="toggleDetails(d)">
      <ion-icon color="primary" item-right [name]="d.icon"></ion-icon>
      {{d.title}}
      <div *ngIf="d.showDetails" [@shrinkOut]='d.showDetails'>{{d.details}}</div>
    </ion-item>
  </ion-list>-->
</ion-content>
