page-my-account {
  .info .col {
    padding: 0;
  }
  ion-list-header {
    border: 0 !important;
  }
  .address {
    ion-item {
      padding-left: 0!important;
    }
    ion-list-header {
      padding-left: 0!important;
    }
  }
}
